<% if !params[:user_id] %>
    <h2>All Books</h2>
<% else %>
    <h2><%= current_user.username %>'s Purchases</h2>
<% end %>        

<% if !params[:user_id] %>
    <p><strong>Search by Genre:</strong></p>

    <%= form_tag(books_path, method: :get) do %>
        <%#= text_field_tag(:search) %>
        <%= collection_select :book, :search, Genre.all, :id, :name, include_blank: true %>
        <%= submit_tag ("Search") %> 
    <% end %>
<% end %>

<% @books.each do |book| %>
    <%= link_to book.title, book_path(book) %><br/>
<% end %>