<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>Number of Pages: <%= @book.number_of_pages %></p>
<p>Price: <%= @book.price %></p>
<p>Genre: <%= @book.genre.name %></p>
<p><strong>Your Credit: <%= current_user.credit %></strong></p>

<% if @book.users.include?(current_user) %>
    <%= link_to "Edit Listing", edit_book_path(@book) %><br/>
    <%= link_to "Delete Listing", @book, method: :delete %>
<% end %>  