<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>Number of Pages: <%= @book.number_of_pages %></p>
<p>Price: <%= @book.price %></p>
<p><%= @book.genre.name %></p>
<p><strong>Your Credit: <%= current_user.credit %></strong></p>

<%= form_for @purchase do |f| %>
    <%= f.hidden_field :user_id %><br />
    <%= f.hidden_field :book_id %><br />
    <%= f.label :location, "Location of the purchase" %><br/>
    <%= f.text_field :location %><br/>
    <%= f.submit "Purchase This Book" %>
<% end %>

<%= link_to "Edit Listing", edit_book_path(@book) %>